/Week2/Problem1/nbproject/private/
/Week2/Problem1/build/
/Week1/GeneticNumber/build/
/Week1/zad3/EncryptPhoneNumber/build/
/Week1/zad3/EncryptPhoneNumber/nbproject/private/
/Week1/zad4/GeneticNumber/build/
/Week1/zad4/GeneticNumber/nbproject/private/
/Week2/Palindrome/nbproject/private/
/Week2/Palindrome/build/
/Week2/Lab2a/build/
/Week2/Lab2b/nbproject/private/
/Week2/Lab2b/build/
/Week2/ExercisesA/nbproject/private/
/Week2/ExercisesA/build/
/Week2/ExercisesB/nbproject/private/
/Week3/lab3a/nbproject/private/
/Week2/ExercisesB/build/
/Week3/lab3a/build/
/Week3/Hrisi/nbproject/private/
/Week3/Hrisi/build/