/Week2/Problem1/nbproject/private/
/Week2/Problem1/build/
/Week1/GeneticNumber/build/
/Week1/zad3/EncryptPhoneNumber/build/
/Week1/zad3/EncryptPhoneNumber/nbproject/private/
/Week1/zad4/GeneticNumber/build/
/Week1/zad4/GeneticNumber/nbproject/private/
/Week2/Palindrome/nbproject/private/
/Week2/Palindrome/build/
/Week2/Lab2a/build/
/Week2/Lab2b/nbproject/private/
/Week2/Lab2b/build/
/Week2/ExercisesA/nbproject/private/
/Week2/ExercisesA/build/
/Week2/ExercisesB/nbproject/private/
/Week3/lab3a/nbproject/private/
/Week2/ExercisesB/build/
/Week3/lab3a/build/
/Week3/Hrisi/nbproject/private/
/Week3/Hrisi/build/
/Week3/HW2_25605/nbproject/private/
/Week4/HW2_25605/nbproject/private/
/Week4/HW2_25605/HW2_25605/nbproject/private/
/Week4/lab4a/nbproject/private/
/Week4/lab5a/nbproject/private/
/Week5/lab5a/nbproject/private/
/Week5/geometryObjects/nbproject/private/
/Week5/geometryObjects/build/
/Week5/geometryObjects/dist/
/Week5/lab5a/build/
/Week4/HW2_25605/HW2_25605/build/
/Week5/Homework2_25604/nbproject/private/
/Week5/Homework2_25604/build/
/Week5/lab6a/nbproject/private/
/Week6/lab6a/nbproject/private/
/Week6/lab6a/build/
/Week6/lab6a/dist/
/Week6/geometryObjWeek6/nbproject/private/
/Week6/geometryObjWeek6/build/
/Week6/geometryObjWeek6/dist/
/Week7/Lab7a/nbproject/private/
/Week8/lab8a/nbproject/private/
/Week9/Week9/nbproject/private/
/Lab9a/nbproject/private/
/Week9/Lab9a/nbproject/private/
/Week9/Lab9a/build/
/Week10/Lab10a/LamdaExprTests/nbproject/private/
/Week11/Lab11a/nbproject/private/
/Week11/MidTermPreparation/nbproject/private/
/Week11/MidTermPreparation/build/
/MidTermPreparation/build/
/MidTermPreparation/nbproject/private/
/Week15/HelloWorldWebApp/nbproject/private/
/Week15/HelloWorldWebApp/build/
/Week15/TestService/nbproject/private/
/Week15/TestService/build/
/Week15/TestService/dist/
/Week15/HelloWorldREST/nbproject/private/
/Week15/WelcomeRESTXmlTest/nbproject/private/
/Week15/SubstitutionCipher/nbproject/private/
/Week15/SubstitutionCipher/build/
/Project/EncodeController/dist/
/Project/EncodeController/build/
/Project/JavaFXApplication6/nbproject/private/
/Project/EncodeView/nbproject/private/
/Project/Week14MTserverFX/nbproject/private/
/Project/EncodeView/build/
/Project/EncodeView/dist/
/Project/LoginController/build/
/Project/LoginController/dist/